.btn1 {
    width: 45px;
    height: 35px;
    font-size: 16px;
    line-height: 18px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
}